<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<<<<<<< HEAD

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="accordion">
      <% logs.forEach(file => { %>
      <div class="card">
          <button class="btn btn-link" 
          data-toggle="collapse" 
          data-target="#<%= file.fileName %>" 
          aria-expanded="false" 
          aria-controls="<%= file.fileName %>">
        <div class="card-header" id="heading_<%= file.fileName %>">
          <h5 class="mb-0">
              <%= file.fileName %>
          </h5>
        </div>
      </button>
        <div 
          id="<%= file.fileName %>" 
          class="collapse" 
          aria-labelledby="headingOne" 
          data-parent="#accordion">
          <div class="card-body">
              <div id="accordion_<%= file.fileName %>">
              <% for(let i = file.fileContent.length-1;i >= 0; i--) { %>
              <% let item = file.fileContent[i]; %>
                
                <div class="card">
                    <div class="card-header" id="heading_<%= file.fileName %>_<%= i %>">
                      <h5 class="mb-0">
                        <button class="btn btn-link" 
                          data-toggle="collapse" 
                          data-target="#<%= file.fileName %>_<%= i %>" 
                          aria-expanded="false" 
                          aria-controls="<%= file.fileName %>_<%= i %>">
                          <%= item.Date %> - <%= item.Status %>
                        </button>
                      </h5>
                    </div>
                    <div 
                    id="<%= file.fileName %>_<%= i %>" 
                    class="collapse" 
                    aria-labelledby="headingOne" 
                    data-parent="#accordion_<%= file.fileName %>">
                    <div class="card-body">
                        <div id="accordion_<%= file.fileName %>_<%= i %>">
                          <%= item.Content %>
                        </div>
                    </div>

                  </div>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
=======
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <% logs.forEach(function(file){ %>
      <h3> <%= file.fileName %></h3>
      <% file.content.forEach(function(log){ %>
        <p><%= log.Date %></p>
        <p><%= log.Content %></p>
        <p><%= log.Status %></p>
      <%  }); %>
    <%  }); %>
>>>>>>> origin/master
  </body>
</html>
